---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style>
	.cards {
		margin-top: 40px;
		display: grid;
		gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		width: 100%;
	}

	.card {
		align-items: center;
		aspect-ratio: 1;
		border-radius: 32px;
		box-shadow: 0px 4px 10px rgba(var(--color-shadow), 0.25);
		display: inline-flex;
		justify-content: center;
		transition: 0.4s;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.card::after {
		content: '';
		background: green;
		opacity: 0.9;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
	}
	.card:hover {
		box-shadow: 0px 4px 10px rgba(var(--color-shadow), 0.5);
	}
	.card:hover::after {
		filter: brightness(0.15);
		transition: inherit;
	}

	.card span {
		font-weight: 900;
		font-size: 40px;
		color: #000000aa;
		line-height: 1;
		background: none;
		z-index: 1;
		transition: filter 0.4s ease;
	}
	.card:hover span {
		width: 100%;
		filter: brightness(2.5);
		-webkit-text-fill-color: transparent;
	}

	.lowa::after {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
	}
	.lowa:hover span {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
		-webkit-background-clip: text;
	}

	.shagrou::after {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
	}
	.shagrou:hover span {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
		-webkit-background-clip: text;
	}

	.shortk::after {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
	}
	.shortk:hover span {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
		-webkit-background-clip: text;
	}

	.time-manager::after {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
	}
	.time-manager:hover span {
		background: center / cover url('/projects/lowa-square.png') no-repeat;
		-webkit-background-clip: text;
	}
</style>

<BaseLayout title="Florian Dendorfer" description="Welcome to my personal homepage">
	<section>
		<p class="subtitle">Welcome to my Personal Homepage:<br />Focusing on Substance Over Style</p>

		<!-- Hero image -->
		<img class="hero" src="/placeholder-hero.png" alt="Hero Image" />

		<p class="text">
			This is just a small website I made to try out Astro and test myself a little. Don't judge the design, everything
			was made in one night.<br /><br />Below you can find some of my previous work and info about me
		</p>

		<div class="cards">
			<div class="card lowa"><span>LOWA 360</span></div>
			<div class="card shagrou"><span>Shagrou</span></div>
			<div class="card shortk"><span>Shortk</span></div>
			<div class="card time-manager"><span>Time Manager</span></div>
		</div>
	</section>
</BaseLayout>
