<header>
	<p>Florian Dendorfer</p>

	<div class="icons">
		<img onclick="switchTheme" src="/icons/circle-half-stroke-solid.svg" alt="Switch Theme" class="icon" />
		<a href="https://www.instagram.com/lucky_number_flo/"
			><img src="/icons/instagram.svg" alt="Instagram" class="icon" /></a
		>
		<a href="https://github.com/fdendorfer"><img src="/icons/github.svg" alt="Github" class="icon" /></a>
	</div>
</header>

<script>
	function switchTheme() {
		const theme = document.querySelector('meta[name="theme-color"]')

		if (body. === '#ffffff') {
			theme.content = '#000000'
		} else {
			theme.content = '#ffffff'
		}
	}
</script>

<style>
	header {
		height: 50px;
		border-bottom: 1px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	}

	p {
		font-size: 32px;
		margin: 0;
		display: inline-flex;
		align-items: center;
	}

	.icons {
		display: inline-flex;
		align-items: center;
		gap: 15px;
	}
</style>
