<header>
	<p>Florian Dendorfer</p>

	<div class="icons">
		<img src="/icons/circle-half-stroke-solid.svg" alt="Switch Theme" />
		<img src="/icons/instagram.svg" alt="Instagram" />
		<img src="/icons/github.svg" alt="Github" />
	</div>
</header>

<style>
	header {
		height: 50px;
		border-bottom: 1px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	}

	p {
		font-size: 32px;
		margin: 0;
		display: inline-flex;
		align-items: center;
	}

	.icons {
		display: inline-flex;
		align-items: center;
		gap: 15px;
	}

	img {
		width: 30px;
	}
</style>
